@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.boxbg {
  background: rgb(26, 1, 44);
  background: linear-gradient(
    90deg,
    rgba(26, 1, 44, 1) 0%,
    rgba(63, 7, 98, 1) 67%,
    rgba(111, 18, 135, 1) 100%
  );
}
